body{
	background-color: #ABB0B2;
	text-decoration-color: #333;
	text-align: center;
	/*margin-left: 300px;*/
	align-self: center;
	margin-left: 5%;
}
#overlay{
	position: absolute;
	/*left: 0px;*/
	text-align: center;
	top: 59.5%;
	left: 24.5%;
}
#sticker{
	transform: rotate(95deg);
	position: absolute;
	/*resize: both;
	overflow: auto;*/
	width: 50px;
	height: auto;
	top: 73%;
	left: 41%;
}
#noioDupe{
	text-align: center;
	margin: 20px;
}
#blueButton{
	background-color: blue;
}
#redButton{
	background-color: red;
}
#whiteButton{
	background-color: white;
}
#greenButton{
	background-color: green;
}
#blueButtonHull{
	background-color: blue;
}
#redButtonHull{
	background-color: red;
}
#whiteButtonHull{
	background-color: white;
}
#greenButtonHull{
	background-color: green;
}
#blueButtonAma{
	background-color: blue;
}
#redButtonAma{
	background-color: red;
}
#whiteButtonAma{
	background-color: white;
}
#greenButtonAma{
	background-color: green;
}
#myCanvas{
	/*margin-left: 5%;*/
	height: 595px;
}
#divider{
	margin: 17.5px;
	color: #ABB0B2;
}
.funButton{
	/*position: absolute;*/
	top: 48.5%;
	left: 50%;
}
.bird{
	margin: 5px;
	border-width: 1px;
}
button{
	border-color: white;
	margin: 10px;
	border-width: 10px;
}
#clearButton{
	border-width: 10px;
	left: 42.5%;
}
#invertButton{
	left: 55%;
}
.colorButton{
	border-width: 5px;
}