body{
	background-color: #94a3b8;
	/* color: #333; */
	text-align: center;
	/*margin-left: 300px;*/
	align-self: center;
	/* margin-left: 3%; */
	font-family: "bree serif";
}
p{
	font-weight: lighter;
	color: #333;

}
#logo{
	position: fixed;
	height: 50px;
	width: auto;
	left: 2%;
	z-index: 1001;
}
#customizeText{
	position: fixed;
	top: 0px;
	left: 0%;
	/* background-color: #a9b9c0; */
	background-color: white;
	margin: 0px;
	padding: 21px;
	padding-left: 41.71%;
	padding-right: 41.71%;
	z-index: 1000;
}
#firstLine{
	/* top: 100px;
	position: relative; */
	padding-top: 2.5cm;
}
#overlay{
	position: absolute;
	/*left: 0px;*/
	text-align: center;
	top: 72.25%;
	left: 22.25%;
}
#sticker{
	transform: rotate(95deg);
	position: absolute;
	/*resize: both;
	overflow: auto;*/
	width: 50px;
	height: auto;
	top: 73%;
	left: 41%;
}
#noioDupe{
	text-align: center;
	margin: 20px;
}
#blueButton{
	background-color: blue;
}
#redButton{
	background-color: red;
}
#whiteButton{
	background-color: white;
}
#greenButton{
	background-color: green;
}
#blueButtonHull{
	background-color: blue;
}
#redButtonHull{
	background-color: red;
}
#whiteButtonHull{
	background-color: white;
}
#greenButtonHull{
	background-color: green;
}
#blueButtonAma{
	background-color: blue;
}
#redButtonAma{
	background-color: red;
}
#whiteButtonAma{
	background-color: white;
}
#greenButtonAma{
	background-color: green;
}
#myCanvas{
	/*margin-left: 5%;*/
	height: 595px;
}
#divider{
	margin: 17.5px;
	color: #ABB0B2;
}
.funButton{
	/*position: absolute;*/
	top: 48.5%;
	left: 50%;
}
.bird{
	margin: 5px;
	border-width: 1px;
}
button{
	border-color: white;
	margin: 10px;
	border-width: 10px;
	font-family: domine;
}
#clearButton{
	border-width: 10px;
	left: 42.5%;
}
#invertButton{
	left: 55%;
}
.colorButton{
	border-width: 5px;
}
#toBeScreenshot{
	height: 595px;
	background-color: #94a3b8;
}
#myCanvas{
	border-color: #94a3b8;
}